nav {
    height: 8vh;
}

.bg-dark {
    background-color: #00254a !important;
}

.left-side {
    font-size: 3vh;
    color: white;
    font-weight: lighter;
}

.nav-link {
    color: #8c9aa9;
}

.nav-link:hover {
    color: white;
}

.right-side {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;

    height: 70%;
}

.right-side button {
    height: 100%;

    border-radius: 100rem;
    background-color: #3261C4;
    border: 0px;
}

.right-side button:first-of-type {
    margin-right: 2%;
}

.right-side a {
    color: white;
    font-size: 2vh;
}

.right-side a:hover {
    text-decoration: none;
}

.content {
    height: 90vh;
    padding: 3vh;
}