<nav class="navbar navbar-dark bg-dark justify-content-between"> 
    <span class="left-side">
        <b>Corlief &ndash;</b> <span [innerHTML]="'navbar.corlief' | translate"></span>
    </span>

    <span class="right-side">
        <a class="btn btn-primary"  (click)="changeLang()" [innerHTML] = "'navbar.lang'| translate"> </a>
        <a class="btn btn-primary" href="https://sinfo.org" target="_blank" [innerHTML] = "'navbar.sinfo_org' | translate"></a>
        <a class="btn btn-primary" href="https://partners.sinfo.org" target="_blank" [innerHTML] = "'navbar.partners' | translate"></a>
    </span>

</nav>

<div class="content">
    <router-outlet></router-outlet>
</div>