.content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
}

.canvas {
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: center;
}

.stands {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    text-align: center;
    height: 55%;

    margin-bottom: 1%;
}

.stands-wrapper {
    display: flex;
    flex-direction: column;

    height: 85%;
    width: 45%;
}

.stands .title, .reservations-content .title {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.stands .title h3 {
    margin: 0;
}

.stands .stands-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;

    height: 90%;
    overflow-y: scroll;
}

.stands .stands-list .stand {
    margin: 1%;
    margin-left: 1.6%;
    margin-right: 1.6%;
    height: fit-content;
    width: fit-content;
}

.stands .stands-list .stand button, .stands .stands-list .stand div {
    width: 8vh;
    height: 8vh;
}

.stands .stands-list .stand div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vh;
    background-color: white;
}

.stands .stands-list .stand div {
    border: 2px solid #00386f !important;
}

.stands .stands-list .stand div:hover {
    border-color: #5ee0ff !important;
}

.stands .stands-list .stand div.free {
    border: 2px solid #018e01 !important;
}

.stands .stands-list .stand div.free:hover {
    border-color: #34ca34 !important;
}

.stands .stands-list .stand div.pending {
    border: 2px solid #d8d80c !important;
}

.stands .stands-list .stand div.pending:hover {
    border-color: #e8e850 !important;
}

.stands .stands-list .stand div:hover {
    cursor: default;
}

.stands .stands-list .stand .clickable:hover {
    cursor: pointer;
}

.reservations-content-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    height: 40vh;
}

.reservations-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.reservations {
    height: 90%;
    overflow-y: scroll;
}

.reservation-content {
    position: relative;
    width: 100%;
    height: 100%;
}

.reservation {
    padding: 2%;
    margin-bottom: 3%;
    border: 2px solid black;
    border-radius: 15px;
}

.cancelled {
    border-color: red;
    background-color: #ff000033;
}

.confirmed {
    border-color: #018e01;
}

.pending {
    border-color: #d8d80c;
    background-color: #d8d80c26;
}

.reservation-stands-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    margin-bottom: 3%;
}

.reservation-stands-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.reservation-stands {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    width: fit-content;
    padding: 1%;

    margin-right: 2%;
    margin-left: 2%;
}

.reservation-stands div {
    display: flex;
    justify-content: space-between;
}

.reservation-stands div b {
    margin-right: 10px;
}

.reservation .status {
    position: absolute;
    top: 0;
    right: 0;
}

.reservation .actions {
    position: absolute;
    bottom: 0;
    right: 0;
}
