nav {
    height: 10vh;
}

.bg-dark {
    background-color: #00254a !important;
}

.left-side {
    font-size: 2.2vw;
    color: white;
    font-weight: lighter;
}

.nav-link {
    color: #8c9aa9;
}

.nav-link:hover {
    color: white;
}

.right-side {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}

.right-side button {
    border-radius: 25px;
    background-color: #3261C4;
    border-color: #3261C4;
    font-size: 1.5vw;
}

.right-side button:first-of-type {
    margin-right: 2%;
}

.right-side a {
    color: white;
}

.right-side a:hover {
    text-decoration: none;
}

.content {
    height: 90vh;
    padding: 3vh;
}