<div *ngIf="companies && companiesWithoutLink">
  <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">

    <ngb-panel>
      <ng-template ngbPanelTitle>
        <div class="title">
          <h5>Missing ({{ companiesWithoutLink.length }})</h5>
        </div>
      </ng-template>

      <ng-template ngbPanelContent>

        <div class="companies">
          <span class="company" *ngFor="let company of companiesWithoutLink | completeCompanyInfo : companies : edition">
            <app-link [company]="company" [edition]="edition"></app-link>
          </span>
        </div>

      </ng-template>
    </ngb-panel>

    <ngb-panel>
      <ng-template ngbPanelTitle>
        <div class="title">
          <h5>Links ()</h5>
        </div>
      </ng-template>

      <ng-template ngbPanelContent>


      </ng-template>
    </ngb-panel>

  </ngb-accordion>
</div>