<div class="header">

  <span class="edition" *ngIf="venue">
    <h2>Edition: {{venue.edition}}</h2>
  </span>

  <span class="upload" *ngIf="venue === null || canBeEdited">
    <app-upload (newVenue)="onUpdateVenue($event)"></app-upload>
  </span>

</div>


<div class="wrapper" *ngIf="venue">

  <div class="venue-image">
    <app-venue-image></app-venue-image>
  </div>

  <div class="stands">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Stands</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let stand of venue.stands" class="stand" (mouseover)="selectStand(stand.id)" (mouseleave)="deselectStand(stand.id)">
          <td>{{stand.id}}</td>
        </tr>
        <tr>
          <td id="addStand">
            <button class="btn btn-outline-primary" (click)="newStandPreparations()" *ngIf="confirmStand === undefined">
              <fa-icon [icon]="['fas', 'plus']"></fa-icon>
            </button>

            <button class="btn btn-success" (click)="uploadStand()" *ngIf="confirmStand !== undefined" [disabled]="!confirmStand">
              <fa-icon [icon]="['fas', 'check']"></fa-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>