<div class="header">

  <span class="edition" *ngIf="venue">
    <h2>Edition: {{venue.edition}}</h2>
  </span>

  <span class="upload" *ngIf="venue === undefined || canBeEdited">
    <app-upload (newVenue)="onUpdateVenue($event)"></app-upload>
  </span>

</div>


<div class="wrapper" *ngIf="venue">

  <div class="venue-image">
    <app-venue-image [maxWidth]="40"></app-venue-image>
  </div>

  <div class="stands">

    <div class="title">

      <h3>Stands</h3>

      <span class="title-icon">
        <span class="icon lock" (click)="alternateLock()">
          <fa-icon *ngIf="lockedStands" [icon]="['fas', 'lock']"></fa-icon>
        </span>

        <span *ngIf="!lockedStands">
          <span class="icon lock" (click)="alternateLock()">
            <fa-icon [icon]="['fas', 'lock-open']"></fa-icon>
          </span>

          <span class="icon delete" [ngClass]="{'active': pendingDeletion}" (click)="alternatePendingDeletion()">
            <fa-icon [icon]="['fas', 'trash-alt']"></fa-icon>
          </span>
        </span>
      </span>

    </div>

    <div class="stands-list">

      <div class="stand" *ngFor="let stand of venue.stands | sortStands" (mouseover)="selectStand(stand.id)" (mouseleave)="deselectStand(stand.id)">
        <div class="stand border" [ngClass]="{'delete': pendingDeletion}" (click)="clickStand(stand.id)">
          {{stand.id + 1}}
        </div>
      </div>

      <div class="stand" *ngIf="confirmStand === undefined">
        <button class="btn btn-primary" (click)="newStandPreparations()" [disabled]="lockedStands" *ngIf="confirmStand === undefined">
          <fa-icon [icon]="['fas', 'plus']"></fa-icon>
        </button>
      </div>

      <div class="stand" *ngIf="confirmStand !== undefined">
        <button class="btn btn-success" (click)="uploadStand()" [disabled]="!confirmStand">
          <fa-icon [icon]="['fas', 'check']"></fa-icon>
        </button>
      </div>

      <div class="stand" *ngIf="confirmStand !== undefined">
        <button class="btn btn-danger" (click)="cancelStand()">
          <fa-icon [icon]="['fas', 'times']"></fa-icon>
        </button>
      </div>

    </div>

  </div>

  <!--
  <div class="stands">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">

            <span class="row-content">
              <span class="row-title">
                Stands
              </span>

              <span class="row-icon" (click)="alternateLock()">
                <span class="icon lock">
                  <fa-icon *ngIf="lockedStands; else unlocked" [icon]="['fas', 'lock']"></fa-icon>
                </span>
                <ng-template #unlocked>
                  <span class="icon lock">
                    <fa-icon [icon]="['fas', 'lock-open']"></fa-icon>
                  </span>
                </ng-template>
              </span>
            </span>

          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let stand of venue.stands | sortStands" class="stand" (mouseover)="selectStand(stand.id)" (mouseleave)="deselectStand(stand.id)">
          <td scope="col">
            <span [ngClass]="{'row-content': !lockedStands && confirmStand === undefined}">

              <span [ngClass]="{'row-title': !lockedStands && confirmStand === undefined}">{{stand.id}}</span>

              <span class="row-icon" *ngIf="!lockedStands && confirmStand === undefined">
                <span class="icon delete" (click)="deleteStand(stand.id)">
                  <fa-icon [icon]="['fas', 'trash-alt']"></fa-icon>
                </span>
              </span>

            </span>

          </td>
        </tr>
        <tr>
          <td id="addStand">
            <button class="btn btn-primary" (click)="newStandPreparations()" [disabled]="lockedStands" *ngIf="confirmStand === undefined">
              <fa-icon [icon]="['fas', 'plus']"></fa-icon>
            </button>

            <span *ngIf="confirmStand !== undefined" class="confirm">

              <button class="btn btn-success" (click)="uploadStand()" [disabled]="!confirmStand">
                <fa-icon [icon]="['fas', 'check']"></fa-icon>
              </button>

              <button class="btn btn-danger" (click)="cancelStand()" [disabled]="!confirmStand">
                <fa-icon [icon]="['fas', 'times']"></fa-icon>
              </button>

            </span>

          </td>
        </tr>
      </tbody>
    </table>
  </div>
  -->
</div>