.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.wrapper {
    display: flex;
    flex-direction: row;
    margin-top: 2%;
}

.venue-image {
    display: flex;
    justify-content: center;
    width: 50vw;
    height: 88vh;
}

.stands {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    text-align: center;
}

.stands table {
    width: 80%;
    max-height: 75vh;
}

.stand:hover {
    border: 3px solid #007bff;
}

.row-content {
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.row-title {
    flex: 0 1 auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.row-icon {
    float: right;
    cursor: pointer;
}

.confirm {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.confirm button {
    width: 10%;
}