<span *ngIf="event && availability && availability.venue" class="content">

  <div class="venue">

    <div class="selection" *ngIf="selectedDay">

      <div class="title">
        <div [ngClass]="{'canChangeDay': selectedDay.day > 1}" (click)="changeDay(selectedDay.day - 1)">
          <b>&lt;</b>
        </div>
        <div>
          <b>Day {{selectedDay.day}}</b>
        </div>
        <div>{{selectedDay.date | date : 'MMMM d'}}</div>
        <div [ngClass]="{'canChangeDay': selectedDay.day < event.getDuration()}" (click)="changeDay(selectedDay.day + 1)">
          <b>&gt;</b>
        </div>
      </div>

      <div class="options">
        <div class="day" *ngFor="let day of selectedDay.allDays" [ngClass]="{'selected': day === selectedDay.day}"
          (click)="changeDay(day)">
          Day {{day}}
        </div>
      </div>

    </div>

    <div class="canvas-wrapper">

      <div class="canvas">
        <app-venue-image (standClick)="clickStandFromCanvas($event)" [maxHeight]="55" [state]="canvasState"></app-venue-image>
      </div>

      <div class="stands">

        <h6>Please choose a stand for this day</h6>

        <div class="stands-list">
          <div class="stand" *ngFor="let stand of availability.venue.stands | sortStands" (mouseover)="selectStand(stand)"
            (mouseleave)="deselectStand(stand.id)" (click)="clickStand(stand.id)" [ngClass]="{'free': isFreeStand(stand.id), 'occupied': isOccupiedStand(stand.id), 'clickable': clickableStand(stand.id), 'pending': isPendingBook(stand.id), 'confirmed': isConfirmedBook(stand.id)}">
            {{stand.id + 1}}
          </div>
        </div>

      </div>

    </div>

    <div class="help">
      <a class="btn btn-info" [routerLink]="['/']" mat-icon-button>&lt; Back to explanation</a>
    </div>
  </div>

  <div class="reservations">

    <div class="title">
      <span>
        <b>{{credentials.companyName}}</b>
      </span>
      <span>Reservations</span>
    </div>

    <div class="reservations-list">
      <ng-container *ngIf="!showAllReservations && latestReservation">
        <div *ngIf="latestReservation.issued === undefined && latestReservation.stands.length < credentials.participationDays"
          class="missing">
          <h6>
            You can still book
            <b>{{credentials.participationDays - latestReservation.stands.length}}</b> {{credentials.participationDays
            -
            latestReservation.stands.length
            > 1 ? 'days' : 'day'}}
          </h6>
        </div>

        <div *ngIf="latestReservation" class="reservation">
          <app-reservation-card [reservation]="latestReservation" [event]="event"></app-reservation-card>
        </div>

        <div class="info">
          <div *ngIf="latestReservation && latestReservation.isPending() && latestReservation.issued !== undefined"
            class="action cancel">
            <button class="btn btn-danger" (click)="cancelReservation()">Cancel reservation</button>
          </div>

          <div *ngIf="latestReservation && latestReservation.issued === undefined && latestReservation.stands.length === credentials.participationDays"
            class="action submit">
            <button class="btn btn-primary" (click)="makeReservation()">Submit reservation</button>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="showAllReservations">
        <div class="allReservations">
          <div *ngFor="let reservation of reservations" class="reservation showAll">
            <app-reservation-card [reservation]="reservation" [event]="event"></app-reservation-card>
          </div>
        </div>
      </ng-container>
    </div>

    <div class="history">
      <button class="btn btn-primary" (click)="alternateShowAllReservations()">
        {{showAllReservations ? 'Check current reservation' : 'Check previous reservations'}}
      </button>
    </div>


  </div>

</span>