.content {
    display: flex;
    flex-direction: row;

    height: 100%;
    cursor: default;
}

.venue {
    display: flex;
    flex-direction: column;

    width: 60vw;
    padding: 1%;

    border-right: 2px solid #0000004a;
}

.selection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.selection .title {
    width: 100%;
    margin-bottom: 0%;
}

.selection .canChangeDay:hover {
    cursor: pointer;
}

.options {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    width: 65%;
}

.day {
    font-size: 1.6rem;
    font-weight: 300;
    color: grey;
}

.day.selected {
    font-weight: 500;
    color: #212529;
    text-decoration: underline;
}

.day:hover {
    cursor: pointer;
    text-decoration: underline;
}

.canvas-wrapper {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.canvas {
    display: flex;
    justify-content: center;
    align-items: center;
}

.canvas, .stands {
    width: 50%;
    padding: 1%;
}

.stands {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.stands h6 {
    font-weight: 200;
}

.stands-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;

    width: 60%;
}

.stand {
    display: flex;
    justify-content: center;
    align-items: center;

    color: #8080809e;
    border: 1px solid #8080809e;

    font-size: 1.6rem;

    min-width: 3rem;
    min-height: 3rem;

    margin: 2.5%;
}

.stand.clickable {
    color: black;
    border-color: black;
}

.stand.pending {
    color: black;
    border: 2px solid #1e5abf;
}

.stand.clickable:hover {
    cursor: pointer;
}

.reservations {
    flex-grow: 1;
    padding: 1%;
    margin-left: 2%;

    overflow-y: scroll;
}

.info {
    margin-top: 5%;
}

.info .action {
    display: flex;
    justify-content: center;
}

.title {
    display: flex;
    justify-content: center;

    font-size: 2.5rem;
    font-weight: 300;

    margin-bottom: 4%;
}

.title b {
    font-weight: 600;
}

.title span {
    margin: 1%;
}

.missing {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.missing h6 {
    font-weight: 200;
}

/* ------ LEGACY -------- */

/*
.canvas-stands {
    display: flex;
    align-items: center;
    justify-content: space-around;

    height: 95%;
}

.canvas-wrapper {
    height: 100%;
}

.day-selection {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    margin-bottom: 2%;
}

.day-selection b {
    margin-right: 20px;
}

/deep/ .pagination {
    margin: 0;
}

/deep/ .pagination .page-item .page-link {
    color: black !important;
}

/deep/ .pagination .page-item.active .page-link {
    background-color: #00386f !important;
    border-color: #00386f !important;
    color: white !important;
}

.canvas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    height: 100%;
    width: fit-content;
}

.stands-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    height: 100%;
    width: 45%;
}

.stands-wrapper .stands, .stands-wrapper .reservations-content-wrapper {
    background-color: #ffffff36;
    border: 2px solid black;
    border-radius: 15px;
    padding: 2%;
}

.stands {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    text-align: center;
    height: 45%;
}

.stands .title, .reservations-content-wrapper .title {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.stands .title h3 {
    margin: 0;
}

.stands .stands-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;

    height: 90%;
    overflow-y: scroll;
}

.stands .stands-list .stand {
    margin: 1%;
    margin-left: 1.6%;
    margin-right: 1.6%;
    height: fit-content;
    width: fit-content;

    color: black;
}

.stands .stands-list .stand button, .stands .stands-list .stand div {
    width: 8vh;
    height: 8vh;
}

.stands .stands-list .stand div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vh;
    background-color: white;
}

.stands .stands-list .stand div {
    border: 2px solid #00386f !important;
}

.stands .stands-list .stand div:hover {
    border-color: #5ee0ff !important;
}

.stands .stands-list .stand div.free {
    border: 2px solid #018e01 !important;
}

.stands .stands-list .stand div.free:hover {
    border-color: #34ca34 !important;
}

.stands .stands-list .stand div.free.clickable:hover {
    background-color: #028e0121 !important;
}

.stands .stands-list .stand div.occupied {
    border: 2px solid red !important;
}

.stands .stands-list .stand div.occupied:hover {
    border-color: red !important;
}

.stands .stands-list .stand div.pending {
    border: 2px solid #d8d80c !important;
}

.stands .stands-list .stand div.pending:hover {
    border-color: #e8e850 !important;
}

.stands .stands-list .stand div.pending.clickable:hover {
    background-color: #e8e85026 !important;
}

.stands .stands-list .stand div:hover {
    cursor: default;
}

.stands .stands-list .stand .clickable:hover {
    cursor: pointer;
}

.reservations-content-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 45%;
}

.reservations {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    height: 90%;
    overflow-y: scroll;
}

.reservation-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: relative;
    width: 100%;
    height: 100%;
}

.reservation-content .issued {
    font-size: 1vw;
}

.reservation {
    position: relative;

    width: 48%;
    height: fit-content;
    min-height: 50%;

    padding: 2%;
    margin-bottom: 3%;

    border: 2px solid black;
    border-radius: 15px;
}

.cancelled {
    border-color: red;
    background-color: #ff000033;
}

.confirmed {
    border-color: #00386f;
    background-color: #00386f29;
}

.pending {
    border-color: #d8d80c;
    background-color: #d8d80c26;
}

.reservation-stands-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    margin-bottom: 3%;
}

.reservation-stands-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;

    font-size: 1vw;
}

.reservation-stands {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    width: fit-content;
    padding: 1%;

    margin: 1%;
}

.reservation-stands div {
    display: flex;
    justify-content: space-between;
}

.reservation-stands div b {
    margin-right: 10px;
}

.reservation .status {
    display: flex;
    justify-content: flex-end;
}

.reservation .status .submit button {
    font-size: 1vw;
}

.reservation .actions {
    position: absolute;
    bottom: 0;
    right: 0;
}

.reservation .actions button {
    font-size: 1vw;
}

.reservation .stands-counter {
    position: absolute;
    top: 3%;
    left: 5%;
}
*/