.content {
    display: flex;
    flex-direction: row;

    height: 100%;
    cursor: default;
}

.venue {
    display: flex;
    flex-direction: column;

    width: 60vw;
    padding: 1%;

    border-right: 2px solid #0000004a;
}

.help a {
    color: white;
}

.help a:hover {
    text-decoration: none;
}

.selection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.selection .title {
    width: 100%;
    margin-bottom: 1%;
}

.selection .canChangeDay:hover {
    cursor: pointer;
}

.options {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    width: 65%;
}

.day {
    font-size: 1.5vw;
    font-weight: 300;
    color: grey;
}

.day.selected {
    font-weight: 500;
    color: #212529;
    text-decoration: underline;
}

.day:hover {
    cursor: pointer;
    text-decoration: underline;
}

.canvas-wrapper {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.canvas {
    display: flex;
    justify-content: center;
    align-items: center;
}

.canvas, .stands {
    width: 50%;
    padding: 1%;
}

.stands {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 5%;
}

.warning {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10%;
    width: 100%;
}

.stands h6 {
    font-weight: 200;
}

.stands h5 {
    align-self: flex-start;
    margin-left: 3%;
    color: #00254a;
}

.stands-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;

    width: 80%;
    margin-bottom: 5%;
}

.stand {
    display: flex;
    justify-content: center;
    align-items: center;

    color: #8080809e;
    border: 1px solid #8080809e;

    font-size: 1.6rem;

    min-width: 3rem;
    min-height: 3rem;

    margin: 2.5%;
}

.activity{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    color: #8080809e;
    border: 2px solid #8080809e;
    border-radius: 5%;

    font-size: 1rem;

    min-width: 3rem;
    min-height: 3rem;
    padding: 1% 5%;

    margin: 1%; 
}

.activity-id{
    border-bottom: 1px solid gray;
    width: 100%;
    text-align: center;
    margin-bottom: 20%;
}

.stand.clickable, .activity.clickable {
    color: black;
    border-color: black;
}

.stand.pending, .stand.confirmed, .activity.pending{
    color: black;
    border: 2px solid #1e5abf;
}

.activity.confirmed {
    color: black;
    border: 2px solid #a0eeb2;
}

.stand.clickable:hover {
    cursor: pointer;
}

.activity.clickable:hover{
    cursor: pointer;
    border: 2px solid #1e5abf;
}

.reservations {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;

    padding: 1%;
    margin-left: 2%;

    overflow-y: scroll;
}

.allReservations {
    display: flex;
    flex-direction: column;

    margin-bottom: 5%;

    overflow-y: scroll;
}

.reservation.showAll {
    margin-bottom: 5%;
}

.info {
    flex-grow: 1;
    margin-top: 5%;
    overflow-y: hidden;
}

.info .action {
    display: flex;
    justify-content: center;
}

.title {
    display: flex;
    justify-content: space-around;

    font-size: 2vw;
    font-weight: 300;

    margin-bottom: 4%;
}

.title b {
    font-weight: 600;
}

.title div {
    margin: 1%;
}

.selection .title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40%;
}

.missing {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.missing h6 {
    font-weight: 200;
    font-size: 2rem;
}

.missing b {
    font-weight: 300;
    font-size: 3rem;
}

.history {
    display: flex;
    justify-content: center;
    align-items: center
}

.reservations-list {
    overflow-y: scroll;
    flex-grow: 1;
    margin: 3%;
}
