<span *ngIf="event && availability && availability.venue" class="content">

  <div class="venue">

    <div class="selection" *ngIf="selectedDay">

      <div class="title">
        <div [ngClass]="{'canChangeDay': selectedDay.day > 1}" (click)="changeDay(selectedDay.day - 1)">
          <b>&lt;</b>
        </div>
        <div>
          <b [innerHTML]="'reservations.day' | translate: {day: selectedDay.day}"></b>
        </div>
        <div>{{english? ( selectedDay.date | date : 'MMMM d ':'+0000') : ( selectedDay.date | ptDate) }}</div>
        <div [ngClass]="{'canChangeDay': selectedDay.day < event.getDuration()}"
          (click)="changeDay(selectedDay.day + 1)">
          <b>&gt;</b>
        </div>
      </div>

      <div class="options">
        <div class="day" *ngFor="let day of selectedDay.allDays" [ngClass]="{'selected': day === selectedDay.day}"
          (click)="changeDay(day)" [innerHTML]="'reservations.day' | translate: {day: day}">
        </div>
      </div>

    </div>

    <div class="canvas-wrapper">

      <div class="canvas" *ngIf="limitedStands">
        <app-venue-image (standClick)="clickStandFromCanvas($event)" [maxHeight]="55" [maxWidth]="100%"
          [state]="canvasState">
        </app-venue-image>
        <h5>Stands</h5>

        <div class="stands-list" *ngIf="limitedStands">
          <div class="stand" *ngFor="let stand of availability.venue.stands | sortStands"
            (mouseover)="selectStand(stand)" (mouseleave)="deselectStand(stand.id)"
            (click)="clickStand(stand.id, isFreeStand(stand.id))"
            [ngClass]="{'free': isFreeStand(stand.id), 'occupied': isOccupiedStand(stand.id), 'clickable': clickableStand(stand.id), 'pending': isPendingBook(stand.id), 'confirmed': isConfirmedBook(stand.id)}">
            {{stand.id + 1}}
          </div>
        </div>


        <div class="stands-list" *ngIf="!limitedStands">
          <div class="btn btn-primary" (click)="chooseDay()"
            [ngClass]="{'btn-primary': isFreeStand(), 'disabled': isOccupiedStand(), 'disabled':!clickableStand() && !isPendingBook() , 'btn-primary': clickableStand(), 'btn-danger': isPendingBook(), 'btn-success': isConfirmedBook()}">
            {{ isPendingBook()? "Deselect this day": (isConfirmedBook()? "Selected day" : "Select this day")}}
          </div>
        </div>
      </div>

      <div class="stands">

        <span style="width: 100%;" *ngFor="let activity of credentials.activities">
          <h5>{{activity}}</h5>
          <div class="stands-list">
            <div class="activity" *ngFor="let ws of getActivitySlots(activity)"
              (click)="clickActivity(ws.id, activity, isFreeActivity(ws.id, activity))"
              [ngClass]="{'free': isFreeActivity(ws.id, activity), 'occupied': isOccupiedActivity(ws.id, activity), 'clickable': clickableActivity(ws.id, activity), 'pending': isPendingActivity(ws.id, activity), 'confirmed': isConfirmedActivity(ws.id, activity)}">
              <div class="activity-id">{{ws.id + 1}}</div>
              <div>{{ws.start | date:'H:mm':'GMT'}}</div>
              <div>-</div>
              <div>{{ws.end | date:'H:mm':'GMT'}}</div>
            </div>
          </div>
        </span>

        <!-- <h5 [innerHTML]="'reservations.presentation' | translate" *ngIf="credentials.presentation"></h5>

        <div class="stands-list" *ngIf="credentials.presentation">
          <div class="activity" *ngFor="let ws of availability.availability[selectedDay.day -1 ].presentations"
            (click)="clickPres(ws.id, isFreePres(ws.id))"
            [ngClass]="{'free': isFreePres(ws.id), 'occupied': isOccupiedPres(ws.id), 'clickable': clickablePres(ws.id), 'pending': isPendingPres(ws.id), 'confirmed': isConfirmedPres(ws.id)}">
            <div class="activity-id">{{ws.id + 1}}</div>
            <div>{{ws.start | date:'H:mm'}}</div>
            <div>-</div>
            <div>{{ws.end | date:'H:mm'}}</div>
          </div>
        </div>

        <h5 *ngIf="credentials.lunchTalk">Lunch Talks</h5>

        <div class="stands-list" *ngIf="credentials.lunchTalk">
          <div class="activity" *ngFor="let ws of availability.availability[selectedDay.day -1 ].lunchTalks"
            (click)="clickLT(ws.id, isFreeLT(ws.id))"
            [ngClass]="{'free': isFreeLT(ws.id), 'occupied': isOccupiedLT(ws.id), 'clickable': clickableLT(ws.id), 'pending': isPendingLT(ws.id), 'confirmed': isConfirmedLT(ws.id)}">
            <div class="activity-id">{{ws.id + 1}}</div>
            <div>{{ws.start | date:'H:mm'}}</div>
            <div>-</div>
            <div>{{ws.end | date:'H:mm'}}</div>
          </div>
        </div> -->


        <h6 [innerHTML]="'reservations.info' | translate"></h6>

      </div>

    </div>

    <div class="help">
      <a class="btn btn-info" [routerLink]="['/']" mat-icon-button [innerHTML]="'reservations.button' | translate"></a>
    </div>
  </div>

  <div class="reservations">

    <div class="title">
      <span> <b>{{credentials.companyName}}</b> {{ 'reservations.reservations' | translate }}</span>
    </div>

    <ng-container *ngIf="!showAllReservations && latestReservation">
      <div
        *ngIf="latestReservation.issued === undefined && latestReservation.stands.length < credentials.participationDays"
        class="missing">
        <h6
          [innerHTML]="'reservations.remaining' | translate: {days: credentials.participationDays - latestReservation.stands.length}">
        </h6>
      </div>

      <div *ngIf="latestReservation" class="reservation">
        <app-reservation-card [reservation]="latestReservation" [event]="event" [venue]="availability.venue"
          [credentials]="credentials" (removeStandEvent)="removePendingStand($event)"
          (removeActivityEvent)="removeActivity($event)">
        </app-reservation-card>
      </div>

      <div class="warning">
        <fa-icon [icon]="['fas', 'exclamation-triangle']" size='2x'></fa-icon>

        <h5 style="margin-left: 5%;" [innerHTML]="'reservations.warning' | translate"></h5>
      </div>

      <div class="info">
        <div *ngIf="latestReservation && latestReservation.isPending() && latestReservation.issued !== undefined"
          class="action cancel">
          <button class="btn btn-danger" (click)="cancelReservation()"
            [innerHTML]="'reservations.cancel' | translate"></button>
        </div>

        <div class="btn-group-vertical" role="group">
          <button class="btn btn-primary" type="button" (click)="makeReservation(confirmReservationPopup)"
            [innerHTML]="'reservations.submit' | translate"
            *ngIf="latestReservation 
            && latestReservation.issued === undefined 
            && (latestReservation.stands.length === credentials.participationDays || availability.venue.stands.length === 0 || latestReservation.stands === undefined)">Submit
            reservation</button>

          <button *ngIf="showAllReservations" class="btn btn-primary" type="button"
            (click)="alternateShowAllReservations()" [innerHTML]=" 'reservations.current' | translate">
          </button>
          <button *ngIf="showAllReservations == false" class="btn btn-primary" type="button"
            (click)="alternateShowAllReservations()" [innerHTML]=" 'reservations.previous' | translate">
          </button>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="showAllReservations">
      <div class="allReservations">
        <div *ngFor="let reservation of reservations" class="reservation showAll">
          <app-reservation-card [reservation]="reservation" [event]="event" [venue]="availability.venue"
            [credentials]="credentials" (removeStandEvent)="removePendingStand($event)"
            (removeActivityEvent)="removeActivity($event)">
          </app-reservation-card>
        </div>
      </div>
      <div class="history">
        <button *ngIf="showAllReservations" class="btn btn-primary" (click)="alternateShowAllReservations()"
          [innerHTML]=" 'reservations.current' | translate">
        </button>
        <button *ngIf="showAllReservations == false" class="btn btn-primary" (click)="alternateShowAllReservations()"
          [innerHTML]=" 'reservations.previous' | translate">
        </button>
      </div>
    </ng-container>




  </div>
</span>


<ng-template #confirmReservationPopup let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Confirm Reservation</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h6>
      {{ 'reservationWarning.msg1' | translate }}
      <b *ngIf="latestReservation.daysAreContiguous() === false">{{ 'reservationWarning.msg2' | translate }}</b>
      <span *ngIf="latestReservation.daysAreContiguous() === false && latestReservation.standIsSame() ===false">
        {{'reservationWarning.msg3' | translate }}
      </span>
      <b *ngIf="latestReservation.standIsSame() === false">{{ 'reservationWarning.msg4' | translate }}</b>
    </h6>
    <h6>{{ 'reservationWarning.msg5' | translate }}</h6>
  </div>

  <div class="modal-footer">
    <button class="btn btn-danger" (click)="modal.close('Cancelled')">{{ 'reservationWarning.cancel' | translate
      }}</button>
    <button class="btn btn-success" (click)="modal.close('Confirmed')">{{ 'reservationWarning.confirm' | translate
      }}</button>
  </div>
</ng-template>