.company {
    display: flex;
    flex-direction: row;

    border: 3px solid black;
    border-radius: 15px;
    background-color: #f6f9fceb;

    height: 100%;
}

.img {
    display: flex;
    align-items: center;
    max-width: 30%;
}

.img img {
    width: 80%;
    margin: 10%;
}

.content {
    width: 70%;
    padding: 2%;
}
