<div class="company" *ngIf="company">

  <div class="img">
    <img [defaultImage]="loadingSrc" [lazyLoad]="company.img" [errorImage]="errorSrc">
  </div>

  <div class="content">

    <div class="name">
      <h4>{{company.name}}</h4>
    </div>

    <span *ngIf="company.currentParticipation">
      <div class="status" *ngIf="company.currentParticipation.status">
        <b>Status:</b>
        {{ company.currentParticipation.status }}
      </div>

      <div class="status" *ngIf="company.currentParticipation.kind">
        <b>Kind:</b>
        {{ company.currentParticipation.kind }}
      </div>

      <div class="status" *ngIf="company.currentParticipation.advertisementLvl">
        <b>Advertisement:</b>
        {{ company.currentParticipation.advertisementLvl }}
      </div>

      <div class="member" *ngIf="company.currentParticipation.member">
        <b>Member:</b>
        {{ company.currentParticipation.member }}
      </div>
    </span>

  </div>

</div>