<div class="company" *ngIf="company">

  <div class="img">
    <img [defaultImage]="loadingSrc" [lazyLoad]="company.img" [errorImage]="errorSrc">
  </div>

  <div class="content">

    <div class="name">
      <h4>{{company.name}}</h4>
    </div>

    <span *ngIf="company.currentParticipation">
      <div class="status" *ngIf="company.currentParticipation.status">
        <b>Status:</b>
        {{ company.currentParticipation.status }}
      </div>

      <div class="status" *ngIf="company.currentParticipation.kind">
        <b>Kind:</b>
        {{ company.currentParticipation.kind }}
      </div>

      <div class="status" *ngIf="company.currentParticipation.advertisementLvl">
        <b>Advertisement:</b>
        {{ company.currentParticipation.advertisementLvl }}
      </div>

      <div class="member" *ngIf="company.currentParticipation.member">
        <b>Member:</b>
        {{ company.currentParticipation.member }}
      </div>
    </span>

  </div>

  <div class="addLink addLink-animation" (click)="alternateLinkFormVisibility()" *ngIf="event && company.link === undefined && linkForm === undefined">
    <div class="link">
      <fa-icon [icon]="['fas', 'link']"></fa-icon>
    </div>
  </div>

  <div class="addLink" *ngIf="event && company.link === undefined && linkForm">
    <form [formGroup]="linkForm" class="form">

      <div>
        <label>Days:</label>
        <select class="form-control" formControlName="participationDays">
          <option *ngFor="let day of (event | getArrayOfParticipationDays)">{{day}}</option>
        </select>
      </div>

      <div>
        <label>Kind:</label>
        <input class="form-control" type="text" formControlName="advertisementKind" placeholder="advertisementKind">
      </div>

      <div>
        <label>Expiration:</label>
        <input class="form-control" type="date" formControlName="expirationDate">
      </div>

    </form>

    <span class="cancel">
      <button class="btn btn-danger" (click)="alternateLinkFormVisibility()">
        <fa-icon [icon]="['fas', 'times']"></fa-icon>
      </button>
    </span>

    <span class="submit">
      <button class="btn btn-success" [disabled]="!linkForm.valid" (click)="submitLink()">
        <fa-icon [icon]="['fas', 'check']"></fa-icon>
      </button>
    </span>

  </div>

</div>