<div class="company" *ngIf="company">

  <div class="img">
    <img [defaultImage]="loadingSrc" [lazyLoad]="company.img" [errorImage]="errorSrc">
  </div>

  <div class="content" [ngClass]="{'content-with-link': company.link && company.link.valid}">

    <div class="name">
      <h4>{{company.name}}</h4>
    </div>

    <div class="info">

      <span *ngIf="company.currentParticipation">
        <div class="status" *ngIf="company.currentParticipation.status">
          <b>Status:</b>
          {{ company.currentParticipation.status }}
        </div>

        <div class="status" *ngIf="company.currentParticipation.kind">
          <b>Kind:</b>
          {{ company.currentParticipation.kind }}
        </div>

        <div class="status" *ngIf="company.currentParticipation.advertisementLvl">
          <b>Advertisement:</b>
          {{ company.currentParticipation.advertisementLvl }}
        </div>

        <div class="member" *ngIf="company.currentParticipation.member">
          <b>Member:</b>
          {{ company.currentParticipation.member }}
        </div>
      </span>

      <hr class="divider" *ngIf="company.link" />

    </div>

    <div class="link" *ngIf="company.link">

      <div class="token" *ngIf="company.link.valid">
        <b>Link:</b>

        <span class="token-copy">
          <fa-icon [icon]="['fas', 'clipboard']" #t1="ngbTooltip" [ngbTooltip]="tipContent" triggers="click:blur" (click)="copyToClipboard(t1, company.link.token)"></fa-icon>
          <ng-template #tipContent>Copied!</ng-template>
        </span>

      </div>

      <div class="created">
        <b>Created:</b>
        {{ company.link.created | date:'dd/MM/yyyy HH:mm'}}
      </div>

      <div class="participationDays">
        <b>Participation days:</b>
        {{ company.link.participationDays }}
      </div>

      <hr class="divider" />

      <div class="actions">

        <div class="extendLink" *ngIf="extendLinkForm">
          <form [formGroup]="extendLinkForm" class="form-inline">
            <label>
              <b>Expiration:</b>
            </label>
            <input class="form-control" type="date" formControlName="expirationDate">
          </form>
        </div>

        <span class="actions-buttons" *ngIf="extendLinkForm === undefined">
          <button class="btn btn-primary" (click)="alternateExtendLinkFormVisibility()">Extend</button>
          <button class="btn btn-success" (click)="check()" *ngIf="company.link.valid">Check</button>
          <button class="btn btn-danger" (click)="revoke()" *ngIf="company.link.valid">Revoke</button>
        </span>

        <span class="actions-buttons" *ngIf="extendLinkForm">
          <button class="btn btn-danger" (click)="alternateExtendLinkFormVisibility()">Cancel</button>
          <button class="btn btn-primary" [disabled]="!extendLinkForm.valid" (click)="extend()">Extend</button>
        </span>

      </div>

    </div>

  </div>

  <div class="addLink addLink-animation" (click)="alternateLinkFormVisibility()" *ngIf="event && linkForm === undefined && company.link === undefined">
    <div class="addLinkIcon">
      <fa-icon [icon]="['fas', 'link']"></fa-icon>
    </div>
  </div>

  <div class="addLink" *ngIf="event && linkForm">
    <form [formGroup]="linkForm" class="form">

      <div>
        <label>Days:</label>
        <select class="form-control" formControlName="participationDays">
          <option *ngFor="let day of (event | getArrayOfParticipationDays)">{{day}}</option>
        </select>
      </div>

      <div>
        <label>Kind:</label>
        <input class="form-control" type="text" formControlName="advertisementKind" placeholder="advertisementKind">
      </div>

      <div>
        <label>Expiration:</label>
        <input class="form-control" type="date" formControlName="expirationDate">
      </div>

    </form>

    <span class="cancel">
      <button class="btn btn-danger" (click)="alternateLinkFormVisibility()">
        <fa-icon [icon]="['fas', 'times']"></fa-icon>
      </button>
    </span>

    <span class="submit">
      <button class="btn btn-success" [disabled]="!linkForm.valid" (click)="submitLink()">
        <fa-icon [icon]="['fas', 'check']"></fa-icon>
      </button>
    </span>

  </div>

</div>