<div class="reservation" [ngClass]="{'confirmed': reservation.isConfirmed(), 'cancelled': reservation.isCancelled(), 'pending': reservation.isPending()}">
  <div class="reservation-content" *ngIf="reservation">

    <div class="status" *ngIf="reservation.company">
      <div class="company-img">
        <img [defaultImage]="loadingSrc" [lazyLoad]="reservation.company.img" [ngStyle]="{'height': '100%', 'width': 'auto' }">
      </div>

    </div>

    <hr class="divider" />

    <div class="issued">
      <b>Issued: </b>{{reservation.issued | date:'dd/MM/yyyy HH\'h\'mm'}}
    </div>

    <div class="reservation-stands-wrapper">
      <span class="reservation-stands-list">

        <div class="reservation-stands border" *ngFor="let stand of reservation.stands">
          <div class="reservation-day">
            <b>Day: </b>
            {{stand.day}}
          </div>
          <div class="reservation-stand">
            <b>Stand: </b>
            {{stand.standId + 1}}
          </div>
        </div>

      </span>
    </div>

    <div class="actions">
      <button class="btn btn-danger" (click)="cancel()" *ngIf="reservation.feedback.status !== 'CANCELLED'">Cancel</button>
      <button class="btn btn-success" (click)="confirm()" [disabled]="confirmationBlocked" *ngIf="adminMode && reservation.feedback.status === 'PENDING'">Confirm</button>
    </div>
  </div>
</div>