<nav class="navbar navbar-dark bg-dark justify-content-between">
  <span class="routers">
    <span class="navbar-brand">Corlief</span>

    <a class="nav-link" routerLink="/" routerLinkActive="selected" [routerLinkActiveOptions]="{exact: true}">Overview</a>

    <a class="nav-link" routerLink="/venues" routerLinkActive="selected" [routerLinkActiveOptions]="{exact: true}">Venues</a>

    <a class="nav-link" routerLink="/links" routerLinkActive="selected" [routerLinkActiveOptions]="{exact: true}">Links</a>

    <a class="nav-link" routerLink="/reservations" routerLinkActive="selected" [routerLinkActiveOptions]="{exact: true}">Reservations</a>

  </span>


  <span class="right-side">
    <span class="navbar-text edition" *ngIf="event">
      {{event.name}}
    </span>

    <img src="https://sinfo.ams3.digitaloceanspaces.com/static/25-sinfo/powerOn.png" alt="SINFO">
  </span>
</nav>

<div class="content">
  <router-outlet></router-outlet>
</div>