<nav class="navbar navbar-dark bg-dark justify-content-between">
  <span class="routers">
    <span class="navbar-brand">Corlief</span>
    <a class="nav-link" [routerLink]="['/']" [routerLinkActive]="['selected']">Overview</a>
    <a class="nav-link" [routerLink]="['/venues']" [routerLinkActive]="['selected']">Venues</a>
    <a class="nav-link" [routerLink]="['/links']" [routerLinkActive]="['selected']">Links</a>
    <a class="nav-link" [routerLink]="['/reservations']" [routerLinkActive]="['selected']">Reservations</a>
  </span>

  <span class="logo">
    <img src="https://sinfo.ams3.digitaloceanspaces.com/static/25-sinfo/powerOn.png" alt="SINFO">
  </span>
</nav>

<router-outlet></router-outlet>