.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;

    height: 85vh;
}

.info-card {
    display: flex;
    flex-direction: column;
    align-items: center;

    border: 5px solid #00254a;
    border-radius: 2rem;

    margin: 1%;
    height: fit-content;
    width: 30%;

    max-height: 100%;
    overflow: scroll;
}

.title {
    margin-top: 3%;
}

.content {
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;

    width: 100%
}

.links .content .title {
    width: 100%;
}

.links-content {
    display: flex;
    flex-direction: row;
    overflow: scroll;
}

.links-batch {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    min-width: 100%;
}

.company-img-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    
    height: 7vw;
    width: 7vw;

    border: 3px solid black;
    border-radius: 100%;
}

.company-img {
    max-width: 6vw;
    height: auto;
    padding: 15%;
}