.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.info-card {
    display: flex;
    flex-direction: column;
    align-items: center;

    border: 5px solid #00254a;
    border-radius: 2rem;

    margin: 1%;
    height: fit-content;
    width: fit-content
}

.title {
    margin-top: 3%;
}

.content {
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
}