<span *ngIf="credentials && event">
  <div class="content">

    <p class="title">Damos as boas vindas à
      <b>{{credentials.companyName}}</b>
      !
    </p>

    <div class="text">

      <p>
        Desde já queríamos agradecer a vossa participação nesta edição da SINFO que esperamos que seja a melhor de sempre!
      </p>

      <p>
        Nesta aplicação poderá reservar os
        <i>stands</i> para cada um dos vários dias da SINFO a decorrer de {{ event.date | datePt : event.duration }}.
      </p>

    </div>

  </div>

  <span class="reservations-link">
    <a routerLink="/reservations" routerLinkActive="selected" [routerLinkActiveOptions]="{exact: true}">
      > Reservar Stands
    </a>
  </span>

</span>